<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.Dao.sqlMapper.UserMapper">

    <select id="selectUserById" resultType="User">
        select *
        from table_user
        <where><if test="id>0 and id!=null">id = #{id} and deleted = 0;</if></where>
    </select>

    <select id="selectUserByName" resultType="user">
        select *
        from table_user
        <where><if test="name!=null and name!=''">name = #{name} and deleted = 0;</if></where>
    </select>

    <select id="selectUserLikeByName" resultType="user">
        select *
        from table_user
        <where><if test="str!=null and str!=''">name like #{str} and deleted = 0</if></where>
    </select>

    <select id="selectUserFrontById" resultType="user_front">
        select *
        from table_user_front
        <where><if test="id>0 and id!=null"> id = #{id} and deleted = 0;</if></where>
    </select>

    <select id="selectUserFrontByName" resultType="user_front">
        select *
        from table_user_front
        <where><if test="name!=null and name!=''"> name = #{name} and deleted = 0;</if></where>
    </select>

    <select id="selectArrLikeByName" resultType="user">
        select *
        from table_user
        <where>
            1 = 1
            <foreach collection="names" item="name">
                and name like #{name}
            </foreach>
        </where>
    </select>

</mapper>